.img-thumbnail {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    

}
.footer {
  background-color: rgba(14, 14, 14, 0.788);
  display: flex;
  color: white;
  font-size: 15px;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}
.footer-text {
    margin: 0;
    font-size: 15px;
}
.p{
    margin-bottom: 0;
}
.text-start {
    margin-left: 15px;
   

}